h1,
h2,
h3,
h4 {
  font-family: Markazi;
  font-weight: bolder;
}

.hero p, .about p, button {
  font-family: Karla;
  font-size: 1.2em;
}

.meals p, .testimonal p, .link {
  font-family: Karla;
  font-size: 1.1em;
}
main {
  display: grid;
  grid-template-columns: 1fr;
}

header {
  display: grid;
  grid-template-columns: 6, 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header-logo {
  grid-column: 1 / span 2;
  cursor: pointer;
}

footer h3,
footer li,
footer a {
  color: white;
}
footer {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 30px;
  background-color: #495e57;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  bottom: 0px;

  @media (max-width: 400px) {
    flex-direction: column;
  }
}

.footer-navigate ul li a {
  list-style-type: none;
  list-style: none;
}



.footer-links .link {
  color: white;
}

button {
  width: 280px;
  height: 60px;
  border-radius: 15px;
  background-color: #f4ce14;
  border: none;
}

button:hover {
  background-color: #87730e;
}


.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}
