h1,
h2,
h3,
h4 {
  font-family: serif;
}
main {
  display: grid;
  grid-template-columns: 1fr;
}

header {
  display: grid;
  grid-template-columns: 6, 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header-logo {
  grid-column: 1 / span 2;
  cursor: pointer;
}

.navbar {
  grid-column: 3 / span 2;
}
.burger-menu {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;

  @media (min-width: 1000px) {
    display: none;
  }
}

.navbar-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  @media (max-width: 1000px) {
    display: none;
  }
}

.burger-menu-bar {
  width: 100%;
  height: 0.3rem;
  background-color: #495e57;
  border-radius: 0.5rem;
}

.navbar-closed {
  display: none;
}

.navbar-open {
  margin:0;
  padding:0;
}

.navbar-mobile-open {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #495e57;
  top: 0px;
  left: 0px;
  gap: 30px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  @media (min-width: 1000px) {
    display: none;
  }
}

.navbar-mobile-closed {
  display: none;
}



.link-item {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: #495e57;

  @media (max-width: 1000px) {
    color: white;
  }
}

.link:hover {
  text-decoration: underline;
  color: #ee9972;
}

.hero {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: ". txt txt img img .";
  background-color: #495e57;
  margin-bottom: 80px;
}

.hero-img-div {
  grid-area: img;
  display: flex;
  justify-content: flex-end;
}

.hero-img-div img {
  position: relative;
  top: 50px;
  height: 300px;
  width: 300px;
  border-radius: 15px;
  border: 1px solid black;
}
.hero-div {
  grid-area: txt;
  padding-right: 20px;
}

.hero-div > h1 {
  color: #f4ce14;
}
.hero-div > h3,
.hero-div > p {
  color: white;
}

.hero-button {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 800px) {
  .hero {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2fr 2fr;
    grid-template-areas:
      ". img img img img ."
      ". txt txt txt txt .";
    gap: 30px;
    padding: 30px;
    justify-content: center;
  }

  .hero-img-div {
    grid-area: img;
    display: block;
  }

  .hero-img-div img {
    position: static;
    top: 50px;
    height: 300px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid black;
  }
}

.meals {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    ". headline headline headline headline ."
    ". card card card card .";
}

.meals-headline {
  grid-area: headline;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meals-cards {
  grid-area: card;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-bottom: 2rem;
}

.mealcard-container {
  background-color: #edefee;
}

.mealcard-text {
  padding: 20px;
}

.mealcard-text-headline {
  display: flex;
  gap: 30px;
}

.mealcard-text-headline > * {
  flex-grow: 1;
}

.mealcard-price {
  color: #ee9972;
}

.mealcard-image img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

@media (max-width: 700px) {
  .meals-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .meals {
    display: block;
  }
  .meals-cards {
    display: block;
    padding-bottom: 2rem;
  }

  .mealcard-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    margin: 2rem;
  }

  .mealcard-image img {
    width: 70%;
    height: 70%;
    border: 1px solid black;
  }
}
.testimonal {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    ". headline headline headline headline ."
    ". card card card card .";
}

.testimonal h2 {
  grid-area: headline;
  justify-self: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.testimonal-cards {
  grid-area: card;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.testimonial-card {
  background-color: #495e57;
  padding: 2rem;
  margin-bottom: 2rem;
}

.testimonial-img-user {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-bottom: 2rem;
}

.testimonial-image {
  width: 100%;
}

@media (max-width: 1000px) {
  .testimonal-cards {
    grid-area: card;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }
}

@media (max-width: 500px) {
  .testimonal {
    display: block;
    padding: 3rem;
  }
  .testimonal-cards {
    grid-area: card;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }
}

.about {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: ". info info images images .";
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
  background-color: #f4ce14;
  gap: 30px;
}

.about-information {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-image-container {
  grid-area: images;
  width: 100%;
}
.about-images {
  width: 100%;
}

.about-img-bottom {
  position: relative;
  z-index: 2;
  width: 50%;
  height: auto;
  margin-top: 2rem;
  margin-left: 10vw;
  object-fit: cover;
}

.about-img-top {
  position: relative;
  z-index: 1;
  width: 50%;
  height: auto;
  margin-top: -16rem;
  object-fit: cover;
}

footer h3,
footer li,
footer a {
  color: white;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #495e57;
  flex-wrap: wrap;
  bottom: 0px;

  @media(max-width: 400px){
    flex-direction: column;
  }
}

.footer-logo {
}

.footer-navigate ul li a {
  list-style-type: none;
  list-style: none;
}

.footer-contact {
}

.footer-social {
}

button {
  width: 280px;
  height: 60px;
  border-radius: 15px;
  background-color: #f4ce14;
  border: none;
}

button:hover {
  background-color: #87730e;
}

.inputform {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 20px;
}

.inputform-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input,
.form-select {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.input-button {
  width: 280;
  padding: 15px;
}
input,
select {
  padding: 15px;
}

.form-error-message {
  font-size: 12px;
  padding: 3px;
  color: red;
}

.booking-summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.booking-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
  padding-top: 2rem;
  width: 320px;
}

.booking-summary-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: left;
  width: 100%;
  border-bottom: 1px solid #495e57;
}

.booking-summary-buttons {
  padding-top: 4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.booking-summary-buttons button {
  width: 160px;
}

.confirm-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 16rem;
}
