main {
  display: grid;
  grid-template-columns: 1fr;
}

nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.hero{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.meals {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr;
}

.meals .headline {
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.testimonal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr;
}

.testimonal h2{
  grid-column: span 3;
  justify-self: center;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  align-self: center;
  justify-self: center;
  width: 200px;
  height: 60px;
  border-radius: 15px;
  background-color: #F4CE14;
  border: none;
}